<div class="nav-tile-text">{{cf.translate('Detected violation videos')}}</div>
<div class="p-2">
    <form [formGroup]="formGroup" class="form-horizontal" (submit)="search()">
      <div class="form-group row m-0">
        <div class="col-md-3 p-0">
          <select type="number" class="form-control" formControlName="date">
            <option value="0">{{cf.translate("today")}}</option>
            <option value="1">{{cf.translate("this week")}}</option>
            <option value="2">{{cf.translate("this month")}}</option>
            <option value="9">{{cf.translate("History")}}</option>
          </select>
        </div>
        <div class="col-md-3 p-0">
            <select type="number" class="form-control" formControlName="checked">
                <option value="0">{{cf.translate('All')}}</option>
                <option value="1">{{cf.translate('Checked')}}</option>
                <option value="2">{{cf.translate('Unchecked')}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-outline-primary btn-pill btn-sm" title="search" style="height:30px; width:30px"><i class="fa fa-search"></i></button>
            <button type="button" class="btn btn-outline-danger btn-pill btn-sm" title="delete selected" style="height:30px; width:30px" (click)="delSeleted()"><i class="fa fa-remove"></i></button>
         </div>
      </div>
    </form>
</div>      
<div class="mat-table-content-one p-2">
  <div class="row m-0">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Search..</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
      </mat-form-field>
    </div>
    <div *ngIf="agents.length>0" class="col-6" style="display: flex;">
      <label class="fixWidthLabel">{{cf.translate('Agents')}}</label>
      <select type="text" class="form-control" [(ngModel)]="agent_val" (change)="setTableByAgent(agent_val)">
        <option value="all" selected>{{cf.translate("All")}}</option>
        <option *ngFor="let item of agents" [value]="item.id">{{item.agent_name}}</option>
      </select>
    </div>
  </div>

  <div class="mat-elevation-z8 checkTable">
    <table mat-table [dataSource]="tableList" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef class="checkTh">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="checkTh">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container *ngFor="let rows of tbCol; let i = index">
        <ng-container [matColumnDef]="rows">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{cf.translate(tbHeader[i])}} </th>
          <td mat-cell *matCellDef="let row"> {{row[rows]}} </td>
        </ng-container>
      </ng-container>
      <ng-container [matColumnDef]="'checked_status'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{cf.translate("Checked Status")}} </th>
        <td mat-cell *matCellDef="let row"> 
            <span [class]="row['checked_status']=='Checked'?'badge badge-pill badge-success':'badge badge-pill badge-danger'">{{row['checked_status']}}</span>
            
        </td>
      </ng-container>
      <!-- action -->
      <ng-container matColumnDef="Action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="stickyOperationHeader"> {{cf.translate('Action')}} </th>
        <td mat-cell *matCellDef="let row" class="stickyOperationCell-sm" style="width: 80px;" [style.backgroundColor]="vod_item&&vod_item.id==row.id?'bisque':'white'">
          <div class="btnRow">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-danger btn-pill btn-smmm" (click)="selectedItems=[row];warningModal.show()" title="Delete item"><i
                    class="fa fa-remove"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success btn-pill btn-smmm" (click)="showVideoModal(row)" title="Play video"><i
                    class="fa fa-play"></i>
                </button>          
            </div>
            <div class="btn-group">
              <button type="button" [class]="vod_item&&vod_item.id==row.id?'btn btn-outline-danger btn-pill btn-smmm':'btn btn-outline-primary btn-pill btn-smmm'" (click)="selectVodItem(row)" title="Review Violation"><i
                  class="fa fa-eye"></i>
              </button>          
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No Item</td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <!-- loading -->
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>

<!-- snapVideoModal modal -->
<div bsModal #modal="bs-modal"  [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" *ngIf="modal_src">
        <div class="modal-header">
          <h5 class="modal-title" >
            {{modal_src.video_name}}
          </h5>
          <button type="button" class="close" (click)="modal.hide();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modalWidthHeight"> 
          <div class="videoDiv">
            <video controls  #video [src]="modal_src.video_url" class="videoPlayer">
                <source type="video/mp4" />
                Browser not supported
            </video>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.hide(); stop()">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- warning modal -->
  <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-warning" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{cf.translate('Are you sure?')}}</h4>
          <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{cf.translate("You won't be able to revert this!")}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">{{cf.translate("Close")}}</button>
          <button type="button" class="btn btn-warning" (click)="warningModal.hide();del()">{{cf.translate("Yes, delete this!")}}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->