.root1{
    display: flex;
    height: 37px;
    font-size: 15px;
    align-items: center;
    padding-left: 12px;
    cursor: pointer;
    background-color:rgba(66, 174, 237, 0.37);
}
.childRoot{
    display: flex;
    height: 37px;
    font-size: 15px;
    align-items: center;
    padding-left: 12px;
    cursor: pointer;
}
.root{
    margin-bottom: 2px;
}
.active{
    background-color: #20a8d8;
    color: white;
}
.activeA{
    color: #20a8d8;
}
.root2{
    margin-left: 20px;
}
.root3{
    margin-left: 20px;
}
.fixedheight{
    height: calc(100vh - 91px);
    overflow-y: auto;
}
.arrowI{
    position: absolute;
    right: 10px;
}