//table
.mat-table-content-one{

}
.mat-table-content-one table {
    width: 100%;
}
  
.mat-table-content-one .mat-form-field {
    font-size: 14px;
    width: 100%;
 }
  
.mat-table-content-one td, th {
    min-width: 100px;
    padding: 0px 5px !important;
}
.mat-table-content-one th {
   color: black;
   font-weight: bold;
}
.checkTable{
    max-width: 100%;
    overflow-x: auto;
}  
.checkTh{
    min-width: 50px !important;
    width: 50px;
    text-align: center !important;
    padding: 5px !important;
}
.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
    z-index: 3  
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
  .mat-table-content-one th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 13px;
}
.stickyOperationCell{
    min-width: 170px !important;  
}
.stickyOperationHeader{
    padding: 0px 37px !important;
}
.switchdiv{
    text-align: center;
    padding-top: 7px;
}
//for snap
.videoDiv video{
    width:100%
}
.video-content{
    display: flex;
    flex-wrap: wrap;
}
.video-child4{
    border:solid 1px white;
    width:50%;
}
.video-child16{
    border:solid 1px white;
    width:25%;
}
.snap-content{
    width: 160px;
    height: 120px;
}
.snap-content img{
    width: 160px;
    height: 120px;
}
.snap-detail{
    position: relative;
    top: -21px;
    background-color: #faebd7cc;
    margin: 0px 15px;
    border-radius: 6px;
}
.snap-content:hover img{
    // transform: scale(1.1);
    // transition-delay: 0.1s;
}
.modalWidthHeight{
    max-height: 70vh;
    overflow-y: auto;
}
.btnCC{
    cursor: pointer;
    border-width: 0px;
}
.disabled{
    background-color: grey;
    color: white;
}