<div class="nav-tile-text">{{cf.translate('Agent manage')}}</div>
<div class="content row p-3">
  
  <div class="col-md-2">
    <button type="button" type="submit" class="btn btn-primary rigid-btn" (click)="showCreateModal()">
      <i class="fa fa-plus fa-lg"></i>{{cf.translate('Create Agent')}}
    </button>
  </div>
  <div class="col-md-3 col-sm-6 noPadding">
    <select type="number" class="form-control" [(ngModel)]="param.expiration">
        <option value="0">Expiration</option>
        <option value="1">Expiring soon</option>
        <option value="2">Expired</option>
        <!-- <option value="3">Expiring soon(User)</option>
        <option value="4">Expired(User)</option> -->
    </select>
  </div>
  <div class="col-md-3 col-sm-6 noPadding">
      <select type="number" class="form-control" [(ngModel)]="param.active">
          <option value="3">Activate Status</option>
          <option value="1">Activated</option>
          <option value="0">Inactive</option>
      </select>
  </div>
  <div class="col-md-4 noPadding">
    <button type="button" class="btn btn-primary rigid-btn" (click)="search()">Search</button>
    <button type="button" class="btn btn-outline-dark rigid-btn rigid-default" (click)="exportToExcel()">Export</button>
  </div>
</div>
<div class="mat-table-content-one p-3">
  <mat-form-field>
    <mat-label>{{cf.translate('Search')}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" [placeholder]="cf.translate('Search')" #input>
  </mat-form-field>
  <div class="mat-elevation-z8 checkTable">
    <table mat-table [dataSource]="tableList" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef class="checkTh">
          <mat-checkbox (change)="$event ? masterToggle() : null;onSelectionChange()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="checkTh">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null;onSelectionChange()" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container [matColumnDef]="'No'">
        <th class="NoTh" mat-header-cell *matHeaderCellDef mat-sort-header> {{cf.translate('No')}} </th>
        <td class="NoTd" mat-cell *matCellDef="let row; let i = index">
          {{ (paginator.pageIndex * paginator.pageSize) + (i + 1)}}
        </td>
      </ng-container>
      <ng-container *ngFor="let rows of tbCol; let i = index">
        <ng-container *ngIf="specialCol.indexOf(rows)==-1" [matColumnDef]="rows">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{cf.translate(tbHeader[i])}} </th>
          <td mat-cell *matCellDef="let row"> {{row[rows]}} </td>
        </ng-container>
      </ng-container>
      <!-- action -->
      <ng-container matColumnDef="Action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="stickyOperationHeader-sm">
          {{cf.translate('Action')}} </th>
        <td mat-cell *matCellDef="let row" class="stickyOperationCell-sm" style="width: 258px;">
          <div class="btnRow">
            <div class="btn-group">
              <label class="switch switch-label switch-primary m-0">
                <input type="checkbox" [checked]="row['state']==1" class="switch-input" (change)="status(row)">
                <span data-checked="On" data-unchecked="Off" class="switch-slider"></span>
              </label>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-danger" (click)="willdelete=row;warningModal.show()"><i
                  class="fa fa-remove fa-lg"></i></button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary" (click)="showEditModal(row)"><i
                  class="fa fa-edit fa-lg"></i></button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-warning" (click)="resetPassword(row)"><i
                  class="fa fa-key fa-lg"></i></button>
            </div>
            <div class="btn-group">
              <button [matMenuTriggerFor]="menu"  class="btn btn-outline-dark">
                <i class="fa fa-ellipsis-v fa-lg"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="showUserListModal(row)">
                  <span>{{cf.translate("user list")}}</span>
                </button>
                <button mat-menu-item (click)="showResetTermModal(row)">
                  <span>{{cf.translate("term of valid reset")}}</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No Item</td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<!-- loading -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>










<!--creation modal -->
<div bsModal [config]="{backdrop: 'static',  keyboard: false}" #createModal="bs-modal" class="modal fade p-3" tabindex="-1"
  role="dialog" aria-labelledby="streamModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form #myform="ngForm" *ngIf="formGroup" [formGroup]="formGroup" (submit)="(formGroup.value['id']?edit():create())">
        <div class="modal-header">
          <h5 class="modal-title">{{!formGroup.value.id?cf.translate('Create Agent'):cf.translate('Edit Agent')}}</h5>
          <button type="button" class="close" (click)="createModal.hide();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <tabset [ngClass]="'noBorder'">
                <tab [heading]="cf.translate('Basic Information')">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Agent ID')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="agent_id" readonly>
                                  <div *ngIf="formGroup.get('agent_id').invalid && (myform.submitted||formGroup.get('agent_id').dirty || formGroup.get('agent_id').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Agent Name')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="agent_name">
                                  <div *ngIf="formGroup.get('agent_name').invalid && (myform.submitted||formGroup.get('agent_name').dirty || formGroup.get('agent_name').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Business License Number')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="business_license_number">
                                  <div *ngIf="formGroup.get('business_license_number').invalid && (myform.submitted||formGroup.get('business_license_number').dirty || formGroup.get('business_license_number').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Valid period of business license')}}</label>
                                <div class="fixInputDiv">
                                  <input type="date" class="form-control" [placeholder]=""
                                    formControlName="valid_period_of_business_license">
                                  <div *ngIf="formGroup.get('valid_period_of_business_license').invalid && (myform.submitted||formGroup.get('valid_period_of_business_license').dirty || formGroup.get('valid_period_of_business_license').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Name of legal person')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="name_of_legal_person">
                                  <div *ngIf="formGroup.get('name_of_legal_person').invalid && (myform.submitted||formGroup.get('name_of_legal_person').dirty || formGroup.get('name_of_legal_person').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <div class="col-md-12">
                                  <div class="dropzone-one">
                                    <div class="dropzone-imagediv">
                                      <img *ngIf="business_src" #preview_business [src]="business_src">
                                      <img *ngIf="!business_src" #preview_business [src]="formGroup.value['business_license_upload']">
                                    </div>
                                  </div>
                                  <input type="file" class="form-control" [placeholder]=""
                                     (change)="setFile($event,'business')">
                                  <div *ngIf="formGroup.get('business_license_upload').invalid && (myform.submitted||formGroup.get('business_license_upload').dirty || formGroup.get('business_license_upload').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                                <label class="col-md-12 text-center">{{cf.translate('Businiess License Upload')}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6 col-sm-12">
                          <div class="form-group row m-0 mb-4">
                              <label class="fixWidthLabel">{{cf.translate('ID number of legal person')}}</label>
                              <div class="fixInputDiv">
                                <input type="text" class="form-control" [placeholder]=""
                                  formControlName="id_number_of_legal_person">
                                <div *ngIf="formGroup.get('id_number_of_legal_person').invalid && (myform.submitted||formGroup.get('id_number_of_legal_person').dirty || formGroup.get('id_number_of_legal_person').touched)" class="invalid-feedback" style="display: block;">
                                  {{cf.translate('This field is required.')}}
                                </div>
                              </div>
                          </div>
                       </div>
                       <div class="col-md-6 col-sm-12">
                        <div class="form-group row m-0 mb-4" id="distpicker1" data-toggle="distpicker" data-value-type="code">
                          <label class="fixWidthLabel">{{cf.translate('Agency city')}}</label>
                          <div class="fixInputDiv" style="display: flex;">
                            <div style="width: 50%;">
                              <select data-province="" type="text" class="form-control" formControlName="agency_province">
                                <option *ngFor="let item of CityList">{{item}}</option>
                              </select>
                              <div *ngIf="formGroup.get('agency_province').invalid && (myform.submitted||formGroup.get('agency_province').dirty || formGroup.get('agency_province').touched)" class="invalid-feedback" style="display: block;">
                                {{cf.translate('This field is required.')}}
                              </div>
                            </div>
                            <div style="width: 50%;">
                              <select data-city="" type="text" class="form-control" formControlName="agency_city">
                                <option *ngFor="let item of ProviceList">{{item}}</option>
                              </select>
                              <div *ngIf="formGroup.get('agency_city').invalid && (myform.submitted||formGroup.get('agency_city').dirty || formGroup.get('agency_city').touched)" class="invalid-feedback" style="display: block;">
                                {{cf.translate('This field is required.')}}
                              </div>
                            </div>
                         
                          </div>                   
                        </div>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Contacts')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="contacts">
                                  <div *ngIf="formGroup.get('contacts').invalid && (myform.submitted||formGroup.get('contacts').dirty || formGroup.get('contacts').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Contact Number')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="contact_number">
                                  <div *ngIf="formGroup.get('contact_number').invalid && (myform.submitted||formGroup.get('contact_number').dirty || formGroup.get('contact_number').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Mail Address')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="mail_address">
                                  <div *ngIf="formGroup.get('mail_address').invalid && (myform.submitted||formGroup.get('mail_address').dirty || formGroup.get('mail_address').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                </tab>
                <tab [heading]="cf.translate('Payment Information')">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Bank Name')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="bank_name">
                                  <div *ngIf="formGroup.get('bank_name').invalid && (myform.submitted||formGroup.get('bank_name').dirty || formGroup.get('bank_name').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Bank Account')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="bank_account">
                                  <div *ngIf="formGroup.get('bank_account').invalid && (myform.submitted||formGroup.get('bank_account').dirty || formGroup.get('bank_account').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Bank Account Name')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="bank_account_name">
                                  <div *ngIf="formGroup.get('bank_account_name').invalid && (myform.submitted||formGroup.get('bank_account_name').dirty || formGroup.get('bank_account_name').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Alipay Name')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="alipay_name">
                                  <div *ngIf="formGroup.get('alipay_name').invalid && (myform.submitted||formGroup.get('alipay_name').dirty || formGroup.get('alipay_name').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Alipay Account')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="alipay_account">
                                  <div *ngIf="formGroup.get('alipay_account').invalid && (myform.submitted||formGroup.get('alipay_account').dirty || formGroup.get('alipay_account').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Wechat Name')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="wechat_name">
                                  <div *ngIf="formGroup.get('wechat_name').invalid && (myform.submitted||formGroup.get('wechat_name').dirty || formGroup.get('wechat_name').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>      
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Wechat Account')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="wechat_account">
                                  <div *ngIf="formGroup.get('wechat_account').invalid && (myform.submitted||formGroup.get('wechat_account').dirty || formGroup.get('wechat_account').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                </tab>
                <tab [heading]="cf.translate('Account Information')">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Login account')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="contact_number">
                                  <div *ngIf="formGroup.get('contact_number').invalid && (myform.submitted||formGroup.get('contact_number').dirty || formGroup.get('contact_number').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Nick name')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="nick_name">
                                  <div *ngIf="formGroup.get('nick_name').invalid && (myform.submitted||formGroup.get('nick_name').dirty || formGroup.get('nick_name').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                            <div *ngIf="!this.formGroup.value['id']" class="form-group row m-0 mb-4">
                                <label class="fixWidthLabel">{{cf.translate('Password')}}</label>
                                <div class="fixInputDiv">
                                  <input type="text" class="form-control" [placeholder]=""
                                    formControlName="password">
                                  <div *ngIf="formGroup.get('password').invalid && (myform.submitted||formGroup.get('password').dirty || formGroup.get('password').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-4">
                              <label class="fixWidthLabel">{{cf.translate('Term of validity')}}</label>
                              <div class="fixInputDiv" style="display: flex;">
                                <div style="width: 50%;">
                                    <input type="date" class="form-control" [placeholder]=""
                                    formControlName="start">
                                  <div *ngIf="formGroup.get('start').invalid && (myform.submitted||formGroup.get('start').dirty || formGroup.get('start').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                                <div style="width: 50%;">
                                  <input type="date" class="form-control" [placeholder]=""
                                    formControlName="term">
                                  <div *ngIf="formGroup.get('term').invalid && (myform.submitted||formGroup.get('term').dirty || formGroup.get('term').touched)" class="invalid-feedback" style="display: block;">
                                    {{cf.translate('This field is required.')}}
                                  </div>
                                </div>
                              </div>  
                            </div>
                        </div>      
                        <div class="col-md-5 col-sm-12">
                          <div class="form-group row m-0 mb-4">
                            <div class="col-md-12"> 
                              <div class="dropzone-one">
                                <div class="dropzone-imagediv">
                                  <img *ngIf="avatar_src" #preview_avatar [src]="avatar_src">
                                  <img *ngIf="!avatar_src" #preview_avatar [src]="formGroup.value['avatar']">
                                </div>
                              </div>
                              <input type="file" class="form-control" [placeholder]=""
                                (change)="setFile($event,'avatar')">
                              <div *ngIf="formGroup.get('avatar').invalid && (myform.submitted||formGroup.get('avatar').dirty || formGroup.get('avatar').touched)" class="invalid-feedback" style="display: block;">
                                {{cf.translate('This field is required.')}}
                              </div>
                            </div>
                            <label class="col-md-12 text-center">{{cf.translate('Agent photo')}}</label>
                        </div>
                        </div>   
                    </div>
                    
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            (click)="createModal.hide()">{{cf.translate("Close")}}</button>
          <button type="submit"
            class="btn btn-primary">{{!formGroup.value.id?cf.translate('Create Agent'):cf.translate('Edit Agent')}}</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- warning modal -->
<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{cf.translate('Are you sure?')}}</h4>
        <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{cf.translate("You won't be able to revert this!")}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">{{cf.translate("Close")}}</button>
        <button type="button" class="btn btn-warning"
          (click)="warningModal.hide();del()">{{cf.translate("Yes, delete this!")}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- reset modal -->
<div bsModal #resetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content" *ngIf="selectedAgent">
      <div class="modal-header">
        <h5 class="modal-title">{{cf.translate('term of valid reset')}}-{{selectedAgent?selectedAgent.agent_name:''}}</h5>
        <button type="button" class="close" (click)="resetModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row m-0 mb-4">
          <label class="col-md-2 col-form-label">{{cf.translate('start')}}</label>
          <div class="col-md-10">
            <input type="date" class="form-control" [(ngModel)]="selectedAgent.start">
          </div>
        </div>
        <div class="form-group row m-0 mb-4">  
          <label class="col-md-2 col-form-label">{{cf.translate('term')}}</label>
          <div class="col-md-10">
              <input type="date" class="form-control" [(ngModel)]="selectedAgent.term">
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="resetModal.hide()">{{cf.translate("Close")}}</button>
        <button type="button" class="btn btn-warning"
          (click)="resetTerm()">{{cf.translate("Save")}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--userlist modal -->
<div bsModal [config]="{backdrop: 'static',  keyboard: false}" #userListModal="bs-modal" class="modal fade p-3" tabindex="-1"
  role="dialog" aria-labelledby="streamModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="selectedAgent">
        <div class="modal-header">
          <h5 class="modal-title">{{cf.translate("user list of ")}}{{selectedAgent?selectedAgent.agent_name:''}}</h5>
          <button type="button" class="close" (click)="userListModal.hide();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-agent-user-list-table [item]="userList"></app-agent-user-list-table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            (click)="userListModal.hide()">{{cf.translate("Close")}}</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->